[Unit]
Description=GPIOdaemon
After=network-online.target

[Service]
Type=simple
Restart=on-failure
KillSignal=SIGINT
StandardError=syslog
ExecStart=/usr/local/bin/gpiodaemon

[Install]
WantedBy=multi-user.target
